name: Build M14x Kernel

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Kernel Source
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential flex bison libssl-dev libelf-dev clang lld llvm libncurses-dev libmpc-dev libmpfr-dev libgmp-dev python3 python-is-python3 curl gcc-aarch64-linux-gnu gcc-arm-linux-gnueabi zip

      - name: Download Google Clang (r450784d)
        run: |
          mkdir clang
          curl -Lo clang.tar.gz https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/android13-release/clang-r450784d.tar.gz
          tar -C clang/ -xzf clang.tar.gz
          echo "$(pwd)/clang/bin" >> $GITHUB_PATH

      - name: Build Kernel
        run: |
          export PATH=$(pwd)/clang/bin:$PATH
          export ARCH=arm64
          export SUBARCH=arm64
          
          # Clean and Config
          make O=out ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- s5e8535-m14xnsxx_defconfig
          
          # Compile and capture logs
          make -j$(nproc --all) O=out \
                      ARCH=arm64 \
                      CC=clang \
                      CLANG_TRIPLE=aarch64-linux-gnu- \
                      CROSS_COMPILE=aarch64-linux-gnu- \
                      CROSS_COMPILE_ARM32=arm-linux-gnueabi- \
                      LD=ld.lld \
                      AR=llvm-ar \
                      NM=llvm-nm \
                      OBJCOPY=llvm-objcopy \
                      OBJDUMP=llvm-objdump \
                      STRIP=llvm-strip 2>&1 | tee build.log

      - name: Upload Build Log on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: build-failure-log
          path: build.log

      - name: Package AnyKernel3
        if: success()
        run: |
          git clone https://github.com/osm0sis/AnyKernel3.git
          cp out/arch/arm64/boot/Image.gz AnyKernel3/
          cp out/arch/arm64/boot/dtbo.img AnyKernel3/ 2>/dev/null || echo "No DTBO"
          cd AnyKernel3 && zip -r9 ../M14x-Kernel-Flashable.zip *

      - name: Upload Flashable Zip
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: M14x-Flashable-Kernel
          path: M14x-Kernel-Flashable.zip
