name: Build M14x Kernel

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Kernel Source
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential flex bison libssl-dev libelf-dev clang lld llvm

      - name: Download Google Clang (r450784d)
        run: |
          mkdir clang
          cd clang
          wget https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/master/clang-r450784d.tar.gz
          tar -xf clang-r450784d.tar.gz
          echo "$(pwd)/bin" >> $GITHUB_PATH

      - name: Build Kernel
        run: |
          export PATH=$(pwd)/clang/bin:$PATH
          export ARCH=arm64
          export SUBARCH=arm64
          export CROSS_COMPILE=aarch64-linux-gnu-
          export CROSS_COMPILE_COMPAT=arm-linux-gnueabi-
          export CLANG_TRIPLE=aarch64-linux-gnu-
          
          # Clean and Config
          make O=out s5e8535-m14xnsxx_defconfig
          
          # Compile
          make -j$(nproc --all) O=out \
                      CC=clang \
                      LD=ld.lld \
                      AR=llvm-ar \
                      NM=llvm-nm \
                      OBJCOPY=llvm-objcopy \
                      OBJDUMP=llvm-objdump \
                      STRIP=llvm-strip

      - name: Upload Kernel Image
        uses: actions/upload-artifact@v3
        with:
          name: Image.gz
          path: out/arch/arm64/boot/Image.gz

      - name: Upload DTBO (If exists)
        uses: actions/upload-artifact@v3
        with:
          name: dtbo.img
          path: out/arch/arm64/boot/dtbo.img
